<% if (comments.length === 0) { %>
    <p>댓글이 없습니다.</p>
<% } else { %>
    <% comments.forEach(comment => { %>
      <div class="comment">
        <p><strong>작성 시간:</strong> <%= new Date(comment.date).toLocaleString() %></p>
        <p><strong>제품:</strong> <%= comment.postId %></p>
        <p><strong>내용:</strong> <%= comment.text %></p>
        <p><strong>별점:</strong> ⭐ <%= comment.rating %></p> <!-- 별점 출력 부분 추가 -->
        <a href="/products/<%= comment.postId %>" class="btn">게시물로 이동</a>
        <button onclick="deleteCommentTrigger('<%= comment.postId %>', '<%= comment._id %>', '<%= locals.csrfToken %>')" class="btn delete-comment">삭제</button>
      </div>
    <% }) %>
<% } %>