<%- include('../../shared/includes/head', { pageTitle: '결제하기' }) %>
<link rel="stylesheet" href="/styles/checkout.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>

  <main id="checkout">
    <h1>결제하기</h1>

    <!-- 주소 입력 폼 -->
    <form action="/orders" method="POST">
      <!-- 주소 입력 폼 -->
      <section class="checkout-section">
          <h2>배송 주소</h2>
          
          <label for="name">이름:</label>
          <input type="text" id="name" name="userName" value="<%= userData.name %>" required>
  
          <label for="postal">우편번호</label>
          <input 
              type="text" 
              id="postal" 
              name="postalCode"
              minlength="5" 
              maxlength="5" 
              value="<%= userData.address.postalCode %>"
              required>
          
          <label for="address">주소:</label>
          <textarea id="address" name="userAddress" required><%= userData.address.local %></textarea>
          
          <label for="phone">전화번호:</label>
          <input type="tel" id="phone" name="phoneNumber" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" value="<%= userData.phone %>" required>
      </section>

      <!-- 결제 상세 -->
      <section class="checkout-section">
        <h2>결제 상세</h2>
        <ul id="payment-details">
          <% for (const product of products.items) { %>
            <li>
              <span class="product-title"><%= product.product.title %></span>
              <span class="product-quantity"><%= product.quantity %>개</span>
              <span class="product-price"><%= product.product.price %>원</span>
            </li>
          <% } %>
          <li class="total">
            총 금액: <%= products.totalPrice %>원
          </li>
        </ul>
      </section>
  
      <!-- 결제 방법 선택 -->
      <section class="checkout-section">
          <h2>결제 방법</h2>
          <select id="payment-method" name="paymentMethod">
              <option value="card">카드 결제</option>
              <option value="bank">계좌 이체</option>
              <option value="paypal">페이팔</option>
          </select>
      </section>
      
      <!-- CSRF 토큰과 결제 버튼 -->
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
      <button class="buy-btn">구매하기</button>
    </form>
  </main>

  <%- include('../../shared/includes/footer') %>